@{
  
    Layout = "_Layout";
}
@model dynamic


<div class="wrapper" style="margin-top: 60px; ">
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert" style="float:right">
            @Model.ErrorMessage
        </div>
    }
    <h2>Регистрация</h2>
    <div class="row">

        <div class="container">

            <form asp-controller="Home" asp-action="CreateUser" method="post">
                <div class="form-group ">
                    <label class="control-label requiredField">
                        First Name

                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="FirstName" type="text" />

                    </div>
                    <label class="control-label requiredField" for="name">
                        Last Name

                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="LastName" type="text" />
                    </div>
                    <label class="control-label requiredField" for="name">
                        Email

                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="Email" type="text" />
                    </div>
                    <label class="control-label requiredField" for="name">
                        Password

                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="Password" type="text" />
                    </div>
                    <label class="control-label requiredField" for="name">
                        DateOfBirth

                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="DateOfBirth" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





    <!--<div class="wrapper" style="margin-top: 60px; ">

        <div class="row">
            <div style="padding: 40px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTask">+ ADD Users  </button>-->
    <!-- The Modal -->
    <!--<div class="modal fade" id="addTask">
        <div class="modal-dialog modal-xl">
            <div class="modal-content " style="width: 1000px;">-->
    <!-- Modal Header -->
    <!--<div class="modal-header">
        <h4 class="modal-title">Adding User </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>-->
    <!-- Modal body -->
    <!--<div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form asp-controller="Home" asp-action="CreateUser" method="post">
                        <div class="form-group ">
                            <label class="control-label requiredField" for="name">
                                 First Name

                            </label>
                            <div class="input-group">

                                <input class="form-control" id="name" name="FirstName" type="text" />
                            </div>
                            <label class="control-label requiredField" for="name">
                                Last Name

                            </label>
                            <div class="input-group">

                                <input class="form-control" id="name" name="LastName" type="text" />
                            </div>
                            <label class="control-label requiredField" for="name">
                                Email

                            </label>
                            <div class="input-group">

                                <input class="form-control" id="name" name="Email" type="text" />
                            </div>
                            <label class="control-label requiredField" for="name">
                                Password

                            </label>
                            <div class="input-group">

                                <input class="form-control" id="name" name="Password" type="text" />
                            </div>
                            <label class="control-label requiredField" for="name">
                                DateOfBirth

                            </label>
                            <div class="input-group">

                                <input class="form-control" id="name" name="DateOfBirth" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button class="btn btn-primary " name="submit" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Modal footer -->
    <!--<div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>




                </div>



            </div>
            <div class="col-8 col-m-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            User
                        </h3>
                    </div>
                    <div class="card-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Birthday<th>
                                    <th>Resumes</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
        

                            </tbody>
                            </table>
                        </div>
                    </div>
                 </div>

       </div>

    </div>-->
    <!-- DataTables -->
    <!--<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>-->
    <!-- page script -->
    <!--<script>
        $(function () {
            $('#example1').DataTable();
        });
        function Delete(id){
            var txt;
            var r = confirm("Are you sure you want to Delete?");
            if (r == true) {

                $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("DeleteWorkExperince", "Home")',
                    data: {
                        id: id
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        if (result == true) {
                            var baseUrl="/Home/WorkExperience";
                            window.location.reload();
                        }
                        else {
                            alert("There is a problem, Try Later!");
                        }
                    }
                });
            }
        }
    </script>-->
